@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Serif&family=Kdam+Thmor+Pro&family=Roboto:wght@500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=IBM+Plex+Serif&family=Kdam+Thmor+Pro&family=Oswald&family=Roboto:wght@500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=IBM+Plex+Serif&family=Kdam+Thmor+Pro&family=Oswald&family=Roboto:wght@500&family=Shadows+Into+Light&display=swap');


$colores: (color1:red,
    color2:blue,
    color3:rgb(204, 0, 0),
    color4:yellow,
    color5:black,
);

$fuentes: (font1: 'Shadows Into Light',
    font2: 'Bebas Neue',
    font3: 'Oswald',
);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
header {
    background-color: map-get($colores, color4);

    .fondo {
        background-color: map-get($colores, color3);
    }

    h1 {
        text-align: center;
        font-size: 60px;
        font-family: map-get($fuentes, font3);
    }

    p {
        text-align: left;
        font-size: 30px;
        font-family: map-get($fuentes, font1);
    }
}

/* fin */

/*section */
section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    .card {
        margin: 5px;
        border: none;

        p {
            text-align: center;
            font-family: map-get($fuentes, font2);
            color: red;
            font-size: 20px;
        }
    }
}
/* fin */


/* profesionales */
#profesionales {

    .tit{
        text-align: center;
        font-family: map-get($fuentes , font3);
    }

    .img1 {
        width: 150px;
        height: 150px;
    }

    .img2 {
        width: 150px;
        height: 150px;
    }

    .img3 {
        width: 150px;
        height: 150px;
    }

    .img4 {
        width: 150px;
        height: 150px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "any any mari mari"
        "any any mari mari"
        "marina marina claudia claudia"
        "marina marina claudia claudia"
        ;

        h1{
            text-align: center;
        }

        h2{
            font-family: map-get($fuentes, font1);
        }

        p{
            text-align: center;
        }

    }
    
    .any{
        grid-area: any;
    }
    .mari{
        grid-area: mari;
    }
    .marina{
        grid-area: marina;
    }
    .claudia{
        grid-area: claudia;
    }

}
/* fin */

/* footer */
footer{
    section{
        background-color: orange;
    }
}


/* footer fin */

@media screen and (max-width: 320px){
    #profesionales{
        width: auto;
        height: 100%;
        .grid-container{
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(4, 25%);
            grid-template-areas: 
            "any any any any"
            "mari mari mari mari"
            "claudia claudia claudia claudia"
            "marina marina marina marina"
            ;
    
            h1{
                text-align: center;
                font-size: 20px;
            }
    
            h2{
                font-family: map-get($fuentes, font1);
                font-size: 18px;
            }
    
            p{
                text-align: center;
            }
    
        }

        .any{
            grid-area: any;
        }
        .mari{
            grid-area: mari;
        }
        .marina{
            grid-area: marina;
        }
        .claudia{
            grid-area: claudia;
        }
    }
    
    footer{
        margin-top: auto;
        padding: 10px;
    }
}
